
[Unit]
Description=statsV2 graph generation
After=collectd.service

[Service]
ExecStart=/usr/share/statsV2/statsV2-service.sh
SyslogIdentifier=statsV2
RuntimeDirectory=statsV2
RuntimeDirectoryMode=0755
Type=simple
Restart=always
RestartSec=30
Nice=19

[Install]
WantedBy=default.target
